<header class="header" [ngClass]="{hidden: !isNavbarVisible}">
    <img src="../../../assets/images/logo.svg" alt="">

    <div class="buttons-container">
        <a [routerLink]="'home'" [routerLinkActive]="'active'" >Home</a>
        <div class="divider"></div>
        <a [routerLink]="'services'" [routerLinkActive]="'active'" >Services</a>
        <div class="divider"></div>
        <a [routerLink]="'portfolio'" [routerLinkActive]="'active'" >Portfolio</a>

    </div>
    <div class="contact-container">
        <img src="../../../assets/images/avatars.png" alt="">
        <button class="button-undecorated contact-button" (click)="handleContact()">Contact</button>
    </div>
</header>