<div class="footer-wrapper">
    <div class="upper-container">
        <div class="logo-container">
            <img src="../../../assets/images/logo.svg" alt="" class="logo">
            <span class="description">We transform ideas into Digital Brilliance, Tailoring Solutions to Amplify Your Success. Revolutionize Your Online Presense with Creative Solutions.</span>
        </div>
        <div class="contact-wrapper">
            <div class="social-wrapper">
                <span class="follow-prompt">Follow us on:</span>
                <div class="social-container">
                    <div class="facebook social-icon"></div>
                    <div class="linkedin social-icon"></div>
                    <div class="instagram social-icon"></div>
                </div>
            </div>
            <div class="email-wrapper">
                <span class="email-prompt">Or send me an email to discuss your idea</span>
                <a href="" class="email">{{"john.keikoglou@gmail.com"}}</a>
            </div>
        </div>
    </div>
    <span class="copyright">{{"@ Copyright 2025, All rights reserved."}}</span>
</div>