<div class="services-container">
  <div class="upper-container">
    <button class="button-undecorated square-button hover-style ui-ux-button">
      UI/ UX
    </button>
    <button class="button-undecorated square-button hover-style web-button">
      Web
    </button>
    <button class="button-undecorated square-button hover-style mobile-button">
      Mobile
    </button>

  </div>

  <div class="bottom-container">
    <button class="button-undecorated horizontal-button tailored-button">
      Tailored Software
    </button>
    <button class="button-undecorated horizontal-button business-growth-button">
      Business Growth
    </button>
  </div>
</div>